@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}
nav {
  background: #fff;
  text-align: center;
  padding: 10px;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
/* === DESKTOP LAYOUT > 980PX === */
section#container {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

video.bgvid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: url("../images/space.png") no-repeat center center;
  background-size: cover;
}

hgroup h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 15vmax;
  letter-spacing: -.5vmax;
  line-height: 15vmax;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

hgroup h2 {
  font-family: Gotham, Arial, Helvetica, sans-serif;
  font-size: 2vmax;
  /* letter-spacing: -.5vmax; */
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

article.text {
  background-color: #fff;
  padding: 20px  ;
  column-count: 3;
  column-gap: 20px;
  height: 100vh
}

article h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2.5vmax;
  text-transform: uppercase;
}

article p {
  font-family: Gotham, Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

video.smvid {
  width: 100%;
}

iframe {
  width:100%;
}

/* === TABLET LAYOUT INHERITS FROM DESKTOP 600PX 980PX === */
@media screen and (max-width: 960px) {
  article.text {
    column-count: 2;
  }

  article h1 {
    font-size: 3.5vmax;
  }
}

/* === MOBILE LAYOUT INHERITS FROM DESKTOP AND THE TABLET 600PX === */
@media screen and (max-width: 500px) {
  section#container {
    background: url("../images/space.png") no-repeat center center;
    background-size: cover;
  }

  video.bgvid {
    display: none;
    /* if you started with display: none on phone, you would then say display: block to make it visible in tablet view */
  }

  article.text {
    column-count: 1;
  }

  article h1 {
    font-size: 4vmax;
  }
}
