* {
    margin: 0.2%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

body {
    background-color: #fff7ec;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

#dart {
    color: #3c459e;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20%;
}

/* grids set-up */

#grid-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 5% 2fr 2fr;
    gap: 6% 11%;
}

#grid-nav {
    display: flex;
    flex-direction: column;


    grid-column: 1;
    grid-row: 1/2;

    width: 15vw;

    background-color: #d6d9f7;
    border: #3c459e solid 2px;
    padding: 20px;

}

.nav-box {
    height: 40px;
    width: 30%;
}

#grid-header {
    grid-column: 2/3;
    grid-row: 1;

    width: 80vw;
    align-self: flex-end;
}

#grid-article {
    grid-column: 2;
    grid-row: 2;
    padding: 2%;

}

#grid-footer {
    grid-column: 2;
    grid-row: 3;
}

#exercise-grid {
    /* display: flex;
    flex-direction: row;
    height: 50vh;
    width: 30vw; */

    display: grid;

    grid-template-columns: 200px 200px 200px;
    gap: 30px 30px;

    margin-top: 5%;

}


.exercises-column1,
.exercises-column2,
.exercises-column3 {
    border-left: #7b83ca 3px dotted;
    padding-left: 5%;
}


.exercise-item {
    margin-bottom: 20%;
    margin-left: 5%;
    /* width: 30%;
    height: 20%; */
}

#project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.midterm {
    grid-column: 1;

    border-left: #3c459e 3px dotted;
    padding: 0 5%;
}

.final {
    grid-column: 2;
    grid-row: 2;

    border-left: #3c459e 3px dotted;
    padding: 0 5%;
}

header {
    color: #8c93d3;
    padding-bottom: 2%;
    border-bottom: 5px dotted #777db69f;
    margin: 0 2%;
}

article {
    line-height: 175%;

}

footer {
    font-size: 60%;
    height: 10%;
}

/* text styling */
a {
    text-decoration: none;
    color: #777db6;

}


h1 {
    font-size: 400%;
    color: #3c459e;
    font-family: 'Courier New', Courier, monospace;

}

h2 {
    font-size: 160%;
    line-height: 180%;
    color: #3c459e;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: #3c459e;
}

.about {
    width: 45vw;
}

.active {
    background-color: rgba(255, 255, 255, 0.555);
    transition: all 0.1s;
}


.ex-link {
    color: #777db6;
    background-color: #ebe6ff;
}

.nav-link {
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.2s;

}

.nav-link:hover {
    margin-left: 10px;
    font-size: 120%;
    color: #3c459e;
}

.active:hover {
    background: none;
}