@import url("https://use.typekit.net/fvm6yas.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 110%;
    line-height: 105%;
}

header {
    background-color: red;

    grid-column: 1/1;
    padding-left: 2vw;

    font-size: 80%;

    font-family: acumin-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
}

h1 {
    font-size: 200%;
    line-height: 120%;

    font-family: utopia-std-subhead, serif;
    font-style: normal;
    font-weight: 700;
}


h2 {
    margin-bottom: 8%;

    font-size: 135%;
    line-height: 105%;

    font-family: acumin-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
}

h3 {
    margin-bottom: 4%;

    font-size: 110%;
    line-height: 110%;

    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-size: 130%;
    line-height: 110%;

    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* nav section */
/* STYLE/ANIMATION source: https://codepen.io/danhearn/pen/pgQPyo */

.nav-container {
    background-color: black;

    height: 8vh;
    padding: 2.5vh 0vw 3vh 2vw;
    margin-bottom: 4vh;
}

a.nav-link {
    color: white;

    margin-right: 10px;
    padding: 3px 11px;

    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;

    font-size: 1.4em;

    transition: all 0.2s;
}

.nav-link {
    box-shadow: inset 0 0.0rem red;
}

.nav-link:hover {
    color: black;
    box-shadow: inset 0 3.5rem white;
    border-bottom: 5px solid red;
}

/* 1st section */
#grid-container,
#grid-container2 {
    width: 100vw;
    height: auto;


    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    /* grid-template-areas:
        "main-article"
        "grid-articles"
        "header" */
}

#grid-container2 {
    /* 2nd page */
    grid-template-columns: 1fr 1fr;
}

.recent-news {
    width: 50%;
    grid-column: 1;
}

/* 1st section: left side */
#main-section {
    width: 100vw;
    padding: 2%;

    display: grid;
    grid-template-columns: auto;
}

#main-article {
    border: black 3px solid;

    grid-column: 1/1;
    grid-row: 1/1;

    width: 100%;
    padding: 3%;

    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 9% 1fr;
    gap: 6%;
}

.main-title {
    grid-column: 1/3;
    grid-row: 1/1;
    justify-self: center;
}

#intro {
    grid-column: 1/2;
    grid-row: 2/2;
    align-self: flex-end;
}


.image {
    grid-row: 2/2;
    grid-column: 2/2;

    height: 90%;
    width: 100%;

    background: url(https://www.ctvnews.ca/polopoly_fs/1.5358975.1616523835!/httpImage/image.jpg_gen/derivatives/landscape_960/image.jpg) no-repeat center/90%;
    background-attachment: fixed;

    align-self: flex-end;
}

.image:hover,
.image2 {
    background: url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2021_09/1683377/anti-asian-violence-mc-inline-210305-12.jpg) no-repeat bottom center/100%;
    z-index: 4;
}



/* 1st section: right side */
#top-list {
    grid-column: 2/2;
    grid-row: 1;

    display: flex;
    flex-direction: column;

    width: 30vw;
    height: auto;

    padding-left: 10%;
}

.listed-news {
    border-bottom: 0.5px solid black;
    border-left: 5px;

    margin-bottom: 2%;
    padding: 5px;

    transition: all 0.2s;
}

.listed-news:hover {
    border-left: 5px solid red;
    border-top: 0.5px solid black;
    border-right: 0.5px solid black;

    padding-left: 3%;

}


.date {
    font-size: 80%;
    font-family: acumin-pro, sans-serif;
    font-weight: 300;

    color: rgb(128, 128, 128);
    margin-bottom: 1%;
}

/* 2nd section */
article {
    width: auto;
    padding: 5%;
}

#grid-articles {
    border-top: solid black 0.5px;
    padding-top: 5%;

    width: 100vw;
    margin-top: 3%;
    grid-column: 1/2;

    display: grid;
    grid-template-columns: 50vw 30vw 1fr;
}

#news-articles {
    /* 2nd page */
    grid-column: 1/1;
    grid-row: 1/1;

    width: 70vw;
    height: auto;

    display: flex;
    flex-direction: row;
}

/* 1st column */
#long-section {
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.long-articles {
    border: 0.5px solid black;
    width: 100%;
    color: black;

    margin-bottom: 5%;

    transition: all 0.2s;
}

.long-articles:hover {
    border: 3px solid red;
}

.long-news h2 {
    /* 2nd page */
    margin: 2% 0 0 0;
}

.long-news {
    border: solid 2px black;
    padding: 2%;
    width: 86%;
    margin: 5% 0%;
}

/* 2nd column */
#short-section {
    grid-column: 2/2;

    padding-left: 7%;

    display: flex;
    flex-direction: column;
}

.short-articles {
    border: 1px solid white;
    border-bottom: 3px solid black;

    margin-bottom: 6%;
    padding: 4%;

    font-size: 75%;

    transition: all 0.1s;
}

.short-articles:hover {
    border: 0.5px solid black;
    border-bottom: 3px solid red;
}

/* 3rd column */
.cta {
    width: 85%;
    height: 50vh;

    top: 5%;

    justify-self: end;
    position: sticky;
}

.cta1 {
    background-color: rgb(255, 212, 82);

    height: 40%;
    padding: 5%;

    font-size: 60%;
    line-height: 160%;
}

.cta2 {
    background-color: black;
    color: white;

    height: 45%;
    padding: 5%;

    font-size: 80%;
}

.p2 {
    /* 2nd page: text size*/
    height: 45%;
    font-size: 75%;
}

/* static style */
a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 5px solid white;
}

.link {
    color: red;
}

/* interactive style */
.hide {
    opacity: 0%;
    pointer-events: none;
    position: absolute;
}

.revealed {
    opacity: 85%;
    z-index: 4;
}

.hiddenOldNews {
    background-color: rgb(255, 254, 252);
    border: black solid 2px;

    top: 20%;
    padding: 2%;

    font-size: 300%;
    line-height: 100%;
}

/* old news: hidden elements */
.on1 {
    top: 20%;
    right: 25%;
    font-size: 170%;
    width: 50vw;
}

.on2 {
    width: 30vw;
    top: 60%;
    right: 10%;
    font-size: 80%;

}

.on3 {
    width: 40vw;
    top: 80%;
    right: 50%;
    font-size: 80%;

}

.on4 {
    width: 20vw;
    top: 5%;
    right: 78%;
    font-size: 80%;

}

.on5 {
    width: 35vw;
    top: 33%;
    right: 2%;
    font-size: 80%;

}

.hiddenLongArticles {

    background-color: rgb(254, 208, 80);
    border: black solid 2px;
    padding: 2%;
    font-size: 300%;
    line-height: 100%;
    top: 20%;
}

/* long articles: hidden elements */
.la1 {
    width: 35vw;
    top: 70%;
    right: 2%;
    font-size: 80%;
}

.la2 {
    width: 45vw;
    top: 90%;
    right: 20%;
    font-size: 110%;
}

.la3 {
    width: 45vw;
    top: 105%;
    right: 10%;
    font-size: 130%;
}

.la4 {
    width: 20vw;
    top: 65%;
    right: 1%;

    font-size: 90%;
    line-height: 90%;

    filter: blur(1.5px);
}

.la5 {
    width: 50vw;
    top: 140%;
    right: 20%;

    font-size: 80%;
    line-height: 60%;

    filter: blur(0.5px);
}

.la6 {
    width: 65vw;
    top: 155%;
    left: 20%;
    font-size: 130%;
}

.la7 {
    width: 50vw;
    top: 124%;
    right: 10%;
    font-size: 60%;
    line-height: 120%;
}

.la8 {
    width: 70vw;
    top: 180%;
    left: 30%;
    font-size: 30%;
    line-height: 120%;
}



/* background interaction */
#background-color {
    width: 100vw;
    height: 100vh;

    position: fixed;
    pointer-events: none;
}

.reveal,
.revealB {
    opacity: 85%;
    z-index: 0;
    position: fixed;
}

/* red background color change */
.reveal {
    background-color: rgb(159, 0, 0);
}

/* black background color change */
.revealB {
    background-color: black;
}

/* text interactions */
.textHL,
.redacted,
.faded {
    display: inline;

}

.fading {
    opacity: 0%;
}

.blur {
    color: white;
    filter: blur(4px);

    overflow: hidden;
    position: absolute;
}

.highlight {
    color: red;
    background-color: yellow;
    opacity: 90%;

    font-weight: 700;

    display: inline;
    position: relative;
    z-index: 2;
}

.highlightB {
    color: black;
    background-color: red;

    display: inline;
    position: relative;
    z-index: 2;
}

.highlightW {
    background-color: white;
    color: black;
    opacity: 80%;

    display: inline;
    position: relative;
    z-index: 2;
}

.float {
    position: relative;
    color: white;
    z-index: 2;
}

.more {
    color: black;
    font-size: 60%;

    font-family: acumin-pro, sans-serif;
    font-weight: 600;
}

.more:hover {
    color: red;
}

.text-date {
    color: grey;
    font-size: 120%;

    margin: 1% 0 5% 0;

    font-family: utopia-std-subhead, serif;
    font-weight: 700;
    font-style: normal;
}

.endnotes {
    border-top: 2px solid black;

    grid-row: 2/2;

    height: 30vh;
    width: 60%;
    padding: 20px;

    font-size: 60%;
    line-height: 90%;
}

.endnotes h3 {
    margin-bottom: 2%;
}

/* text change hover interaction */
.morph {
    display: inline;
}

.morph .afterM {
    display: none;
}

.morph:hover .beforeM {
    display: none;
}

.morph:hover .afterM {
    display: inline;
}

/* + 1080px (more) */
@media (min-width: 1080px) {
    body {
        font-size: 150%;
    }

    #main-article {
        border: 0px;
        grid-template-rows: 10vh 35vh;
        padding-bottom: 8%;
        border: black solid 1px;
        height: 100%;
    }

    article h1 {
        padding-left: 20px;
    }

    #long-section {
        width: 92%;
        margin-left: 40px;
    }

    .cta {
        width: 95%;
        height: 40%;
    }

    #top-list {
        height: 60%;
    }


}

/* 800 to 1080px + */
@media (max-width: 1080px) {

    #long-section {
        width: 90%;
        margin-left: 40px;
    }
}

/* < 800px (less) */
@media (max-width: 800px) {

    #grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 150vh 10vh 20vh;
        padding: 0;
    }

    .nav-container {
        margin: 0;
    }

    #main-section {
        padding: 0;
    }

    #main-article {
        border: 0px;
        grid-template-rows: 10vh 35vh 25vh;
        margin-bottom: 15%;
        padding: 0;
        margin-bottom: 15vh;
    }

    h4 {
        font-size: 140%;
    }

    article h1,
    #intro {
        padding-left: 20px;
    }

    h1 {
        font-size: 260%;
        padding-top: 20px;

    }

    #intro {
        grid-row: 3/3;
        grid-column: 1/3;

        font-size: 130%;
    }

    .main-title {
        justify-self: start;

    }

    .image {
        grid-row: 2/2;
        grid-column: 1/2;
        width: 100vw;
        height: 100%;
        background: url(https://www.ctvnews.ca/polopoly_fs/1.5358975.1616523835!/httpImage/image.jpg_gen/derivatives/landscape_960/image.jpg) no-repeat center;

    }

    .triggerB2 {
        font-size: 230%;
        padding-top: 20px;
    }

    #top-list {
        grid-column: 1/1;
        grid-row: 2/2;
        width: 100%;
        padding: 2% 5%;

        border-top: black 3px solid;

    }

    .listed-news {
        font-size: 150%;
        padding-right: 20vw;
    }

    .more {
        font-size: 150%;
        padding-top: 20px;
    }

    #grid-articles {
        grid-template-columns: 95vw;
        border-top: black 3px solid;

    }

    #short-section {
        grid-row: 2/2;
        grid-column: 1/1;

        font-size: 175%;
        width: 70%;
        line-height: 90%;
        /* flex-wrap: wrap;
        align-content: flex-start; */
        margin-bottom: 15vh;
    }

    .short-articles {
        padding-left: 0;
    }

    .long-articles {
        width: 700px;
    }


    #long-section {
        font-size: 140%;
        line-height: 140%;
    }

    .cta {
        grid-row: 3/3;
        width: 100%;
        height: 125vh;
        font-size: 250%;
        line-height: 140%;

        font-size: 250%;
    }

    .cta p {
        margin-bottom: 25px;

    }

    .cta1 .more {
        font-size: 150%;

    }

    .endnotes {
        width: 100%;
        font-size: 100%;
        margin-bottom: 30%;
    }

    #news-articles {
        width: 100vw;
    }

    #long-section {
        width: 70%;
        margin-left: 40px;
    }
}