@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;900&display=swap');
@import url("https://use.typekit.net/fvm6yas.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}

header {
    height: 4vh;
    background-color: red;

    font-family: acumin-pro, sans-serif;
    font-weight: 800;
    font-style: normal;

    font-size: 100%;

    padding-left: 2vw;
}


.title {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 5%;
}

h1 {
    font-size: 280%;

    font-family: utopia-std-subhead, serif;
    font-weight: 700;
    font-style: normal;

}

h2 {
    font-size: 130%;
    margin-right: 10px;
}

h3 {
    align-self: center;
    margin-right: 20%;
    margin-left: 5%;
}

article {
    width: 60vw;
}

/*  */


a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
}


.active {
    border-bottom: 5px solid white;

}


.nav-container {
    background-color: black;
    padding: 2.5vh 0vw 3vh 2vw;
    margin-bottom: 8vh;

}

/* source: https://codepen.io/danhearn/pen/pgQPyo */

a.nav-link {
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;

    font-size: 1.4em;
    padding: 3px 11px;

    transition: all 0.2s;
}


.nav-link {
    box-shadow: inset 0 0.0rem red;
   
  }

  .nav-link:hover{
   color: black;
        box-shadow: inset 0 3.5rem white;
        border-bottom: 5px solid red;
  }


.link {
    color: red;
}

article {
    margin: 30px;
    padding: 20px;
    border-top: 1px solid black;
}


.intro {
    font-size: 25px;
    font-family: acumin-pro, serif;
    font-weight: 600;

    font-style: normal;
}

img {
    width: 25vw;
    margin-right: 20px;
}

.ss {
    display: flex;
    width: 100vw;
    justify-content: start;
}

.note {
    align-self: center;
}

/*  */
.stylesheet {
    width: 75vw;
}

.inspo {
    width: 17%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}
/* 
@media (min-width:600px){
    .row, .navbar {
        flex-direction: column;
    }
    .main{order.1}
} */