* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

header {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

/*  */

.nav_bg {
    background-color: black;
    padding: 20px;
    margin-bottom: 7vh;
}


.title {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 5%;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 130%;
    margin-right: 10px;
}

h3 {
    align-self: center;
    margin-right: 20%;
    margin-left: 5%;
}

/*  */

a:hover {
    border-bottom: 2px solid white;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
}

.active {
    background-color: white;
    font-weight: bold;
    color: black;
    padding: 8px;
}

.link {
    color: red;
}



/*  */

article {
    margin: 30px;
    padding: 20px;
    border-top: 1px solid black;
}

article:hover {
    border: 2px solid red;
}

.intro {
    font-size: 25px;
    font-weight: bold;
}

img {
    width: 25vw;
    margin-right: 20px;
}

.ss {
    display: flex;
    width: 100vw;
    justify-content: start;
}



.note {
    align-self: center;
}

/*  */
.stylesheet {
    width: 75vw;
}

.inspo {
    width: 17%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}